In [4]:
pip install pandas

Collecting pandas
  Downloading pandas-1.5.3-cp39-cp39-macosx_10_9_x86_64.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 2.0 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/homebrew/Caskroom/miniforge/base/envs/myenv_x86/lib/python3.9/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 499.4/499.4 kB 1.7 MB/s eta 0:00:00[31m1.8 MB/s eta 0:00:01
Collecting numpy>=1.20.3
  Downloading numpy-1.24.2-cp39-cp39-macosx_10_9_x86_64.whl (19.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.8/19.8 MB 2.2 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: six>=1.5 in /opt/homebrew/Caskroom/miniforge/base/envs/myenv_x86/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.2 pandas-1.5.3 pytz-2022.7.1
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [6]:
pip install sqlalchemy psycopg2-binary

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.3-cp39-cp39-macosx_10_9_x86_64.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 4.4 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.5-cp39-cp39-macosx_10_15_x86_64.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (2.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 6.0 MB/s eta 0:00:00[36m0:00:01m eta 0:00:01
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.2-cp39-cp39-macosx_11_0_x86_64.whl (241 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 241.4/241.4 kB 5.1 MB/s eta 0:00:00 MB/s eta 0:00:01
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/homebrew/Caskroom/miniforge/base/envs/myenv_x86/lib/python3.9/site-packages (from sqlalchemy) (4.4.0)
Installing collected packages: psycopg2-binary, greenlet, sqlalchemy
Successfully installed greenlet-2.0.2 psycopg2-binary-2.9.5 sqlalchemy-2.0.3
Note: you may need to restart the kernel to use updated packages.

```bash
pip install sqlalchemy psycopg2-binary 
```

In [40]:
from sqlalchemy import create_engine, text

In [41]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [42]:
engine.connect()

In [128]:
def read_sql_query(q):
    global df
    with engine.begin() as conn:
        df = pd.read_sql_query(sql=text(q), con=conn)
    return df

In [129]:
query = """
SELECT 1 as number;
"""
read_sql_query(query)

   number
0       1

In [131]:
q = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

read_sql_query(q)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False
1,public,yellow_tripdata_trip,root,None,False,False,False,False

In [49]:
df = pd.read_csv('yellow_tripdata_2022-01.csv', nrows=100)

In [50]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [51]:
df.to_sql(name='yellow_tripdata_trip', con=engine, index=False)

100

In [132]:
query = """
SELECT * FROM yellow_tripdata_trip LIMIT 10
"""

with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query), con=conn)
df.head()

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

```sql
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
```

Source: https://www.postgresqltutorial.com/postgresql-show-tables/