In [21]:
import pandas as pd

In [22]:
pd.__version__

'1.5.3'

In [23]:
df = pd.read_parquet('yellow_tripdata_2022-01.parquet', engine='fastparquet')
# df = pd.read_parquet('yellow_tripdata_2022-01.parquet', nrows=100)

In [24]:
df.to_csv("yellow_tripdata_2022-01.csv")

In [25]:
df_csv = pd.read_csv("yellow_tripdata_2022-01.csv", low_memory=False)

In [26]:
df_csv.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df_csv.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [27]:
from sqlalchemy import create_engine

In [37]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [38]:
print(pd.io.sql.get_schema(df_csv, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"Unnamed: 0" BIGINT,
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [39]:
df_iter = pd.read_csv('yellow_tripdata_2022-01.csv', iterator=True, chunksize=100000)

In [40]:
df = next(df_iter)

In [41]:
len(df)

100000

In [42]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [43]:
df

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.00,0.3,21.95,2.5,0.00
1,1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.00,0.3,13.30,0.0,0.00
2,2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.00,0.3,10.56,0.0,0.00
3,3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.00,0.3,11.80,2.5,0.00
4,4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.00,0.3,30.30,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,1,2022-01-02 17:48:16,2022-01-02 18:04:03,1.0,3.10,1.0,N,186,236,1,13.0,2.5,0.5,3.26,0.00,0.3,19.56,2.5,0.00
99996,99996,2,2022-01-02 17:41:15,2022-01-02 18:15:20,2.0,17.68,2.0,N,132,164,1,52.0,0.0,0.5,12.62,6.55,0.3,75.72,2.5,1.25
99997,99997,2,2022-01-02 17:01:35,2022-01-02 17:10:33,1.0,1.66,1.0,N,48,239,1,8.5,0.0,0.5,2.95,0.00,0.3,14.75,2.5,0.00
99998,99998,2,2022-01-02 17:13:10,2022-01-02 17:17:02,1.0,0.95,1.0,N,143,239,1,5.0,0.0,0.5,1.66,0.00,0.3,9.96,2.5,0.00
99999,99999,2,2022-01-02 17:49:57,2022-01-02 17:53:51,1.0,1.01,1.0,N,239,238,1,5.5,0.0,0.5,1.76,0.00,0.3,10.56,2.5,0.00

In [44]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [45]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 11.8 s, sys: 531 ms, total: 12.3 s
Wall time: 21.6 s

1000

In [46]:
from time import time

In [18]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 11.491 second
inserted another chunk, took 11.369 second
inserted another chunk, took 11.374 second
inserted another chunk, took 11.343 second
inserted another chunk, took 11.320 second
inserted another chunk, took 11.521 second
inserted another chunk, took 11.770 second
inserted another chunk, took 11.538 second
inserted another chunk, took 11.396 second
inserted another chunk, took 11.306 second
inserted another chunk, took 11.479 second
inserted another chunk, took 11.524 second
inserted another chunk, took 11.244 second
inserted another chunk, took 11.292 second
inserted another chunk, took 11.443 second
inserted another chunk, took 11.359 second
inserted another chunk, took 11.578 second
inserted another chunk, took 12.691 second
inserted another chunk, took 12.419 second
inserted another chunk, took 11.547 second
inserted another chunk, took 11.603 second
inserted another chunk, took 11.735 second

/var/folders/y1/vz7sqkws57n4_6s5tmrrbc7c0000gn/T/ipykernel_25588/2113580993.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 11.650 second
inserted another chunk, took 6.895 second

StopIteration:

In [47]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv

--2023-04-03 21:27:29--  https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 2600:9000:25a2:4c00:b:20a5:b140:21, 2600:9000:25a2:fa00:b:20a5:b140:21, 2600:9000:25a2:5800:b:20a5:b140:21, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|2600:9000:25a2:4c00:b:20a5:b140:21|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [text/csv]
Saving to: ‘taxi+_zone_lookup.csv.2’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0.01s

2023-04-03 21:27:30 (1.05 MB/s) - ‘taxi+_zone_lookup.csv.2’ saved [12322/12322]

In [51]:
ls -al

total 804136
drwxr-xr-x@ 22 napatsakornpianchana  staff        704 Apr  3 21:27 ./
drwxr-xr-x@  6 napatsakornpianchana  staff        192 Mar 25 22:57 ../
-rw-r--r--   1 napatsakornpianchana  staff         48 Jan 23 11:49 .gitignore
drwxr-xr-x@  4 napatsakornpianchana  staff        128 Feb 25 13:31 .ipynb_checkpoints/
-rw-r--r--@  1 napatsakornpianchana  staff        178 Mar 19 13:00 Dockerfile
-rw-r--r--@  1 napatsakornpianchana  staff        179 Jan 23 11:49 Dockerfile.real
-rw-r--r--   1 napatsakornpianchana  staff       5794 Jan 23 11:49 README.md
-rw-r--r--   1 napatsakornpianchana  staff        427 Jan 23 11:49 docker-compose.yaml
-rw-r--r--@  1 napatsakornpianchana  staff       2401 Mar 19 17:16 ingest_data.py
drwxr-xr-x@ 26 napatsakornpianchana  staff        832 Mar 25 22:57 ny_taxi_postgres_data/
-rw-r--r--@  1 napatsakornpianchana  staff   38139949 Jun 30  2022 output.csv
-rw-r--r--@  1 napatsakornpianchana  staff      19545 Feb 15 10:26 pg-test-connection.ipynb
-rw-r--r--@  1 napatsakornpianchana  staff        191 Jan 25 11:53 pipeline.py
-rw-r--r--@  1 napatsakornpianchana  staff      12322 Aug 17  2016 taxi+_zone_lookup.csv
-rw-r--r--@  1 napatsakornpianchana  staff      12322 Aug 17  2016 taxi+_zone_lookup.csv.1
-rw-r--r--@  1 napatsakornpianchana  staff      12322 Jul 29  2022 taxi+_zone_lookup.csv.2
-rw-r--r--@  1 napatsakornpianchana  staff      32996 Apr  3 21:27 upload-data.ipynb
-rw-r--r--@  1 napatsakornpianchana  staff       1922 Feb 26 17:36 upload_data.py
-rw-r--r--@  1 napatsakornpianchana  staff   25031880 Jul 14  2022 yellow_tripdata_2021-01.csv.gz
-rw-r--r--@  1 napatsakornpianchana  staff  276214354 Apr  3 21:18 yellow_tripdata_2022-01.csv
-rw-r--r--@  1 napatsakornpianchana  staff   25031880 Jul 14  2022 yellow_tripdata_2022-01.csv.gz
-rw-r--r--@  1 napatsakornpianchana  staff   38139949 Jun 30  2022 yellow_tripdata_2022-01.parquet

In [52]:
df_zones = pd.read_csv('taxi+_zone_lookup_2022.csv')

In [53]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [54]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265